/* Global resets */
* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}
body {
  font-family: 'PT Sans', sans-serif; 
  font-size: 10px;
  color: #424242; 
  line-height: 2.24;
  letter-spacing: .02rem;
}

/* Fonts */
p {
  font-size: .7rem;
}
.bold{
  font-weight: bold;
}
.container {
  margin: 2em auto;
  max-width: 303px;
  margin: 0 auto;
  padding: 20px;
}

.msg{
  color: white;
  background-color: #424242;
  border-radius: .2rem;
  text-align: center;
  font-size: .8rem;
  padding: .5rem;
  position: relative;
}
.msg:after{
  position: absolute;
  width: .5rem;
  height: .5rem;
  background-color: #424242;
  top: 100%;
  right: 15%;
  margin-left: -2.5rem;
  content: '';
  transform: rotate(45deg);
  margin-top: -.25rem;
}
progress{
  width: 263px;
  height: 1rem;
  background-color: white;
  border: .1rem solid #777;
  margin-top: 1rem;
}
progress::-webkit-progress-value { 
    background: #EF5F3C; 
}

progress::-moz-progress-bar{
  background: #EF5F3C;
}
form div.main{
  border: .1rem solid #777;
  padding: 1.1rem;
}
button{
  border-radius: .2rem;
}
.giveNowBtn{
  color: white;
  background-color: #1CBC2C;
  padding: 1.2rem;
  font-size: 1.2rem;
}
form div.userGift{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
form div.btns{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
form div.btns button{
  padding: 1rem; 
}
/* COLORS: 
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

